.nav{
    display: flex;
    flex-direction: row;
    top:0;
    left: 0px;
    background-color: grey;
    font-size: small;
    color:white;
    height:50px;
    width:100%;
    margin:0px;
    border:0px;
    padding-top: 5px;
    justify-content: center;


    
}

.nav-2{
    text-align: left;
    margin-top:  5px;
    padding: 5px;
    background-color: rgba(128, 128, 128, 0.845);
    color:orange;
}

.browse-display {
    display: flex;
    flex-direction: row;
    margin:5%;

}

.login-button{
    background-color: blue;
}

.login-container{
    display:flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
}

.search{
    padding-left: 52%;
    padding-top: 10px;
}

.movies{
    display: flex;
    flex-direction: row;
}

.movie-text{
    margin-left: 15px;
}

.movie-review{
    background-color: blue;
    margin-top: 20px;
    color:aliceblue;
}

.images{
    margin-left: 40px;
    margin-top: 20px;
}